each val in accountsList
    tr
      td
        if hasCredentials[val]
            span.glyphicon.glyphicon-lock(style='display: none;')
        else
            span.glyphicon.glyphicon-lock
        
        =val
      td=draftPostCounts[val]
      td
          .btn-group.btn-group-justified(role='group')
              .btn-group(role='group')
                  button.btn.btn-info(type='button', onclick='')
                      span.glyphicon.glyphicon-edit
              .btn-group(role='group')
                  button.btn.btn-danger(type='button', onclick='')
                      span.glyphicon.glyphicon-minus-sign
