.loading
    img.loadingSpinner(src='./images/whiteLoader.svg')
.inside(style='display: none;')
    table.table
      thead
        tr
          th Firstname
          th Lastname
          th Email
      tbody
        tr
          td John
          td Doe
          td john@example.com
        tr
          td Mary
          td Moe
          td mary@example.com mary@example.com
        tr
            td July
            td Dooley
            td july@example.com
        tr
            td John
            td Doe
            td john@example.comjohn@example.comjohn@example.comjohn@example.comjohn@example.comjohn@example.com
        tr
            td Mary
            td Moe
            td mary@example.com
        tr
            td July
            td Dooley
            td july@example.com

    .masterPasswordInfo
        .encryptdStatus.encryptdNot(style='display: none;')
            p='Account Credentials are not currently encrypted.'
            button.btn.btn-success(type='button', onclick='ui.accounts.encryptCredentials()') Encrypt Credentials
        .encryptdStatus.encryptdLocked(style='display: none;')
            button.btn.btn-success(type='button', onclick='unlock()') Unlock
            p="encryptd and locked"
        .encryptdStatus.encryptdUnlocked(style='display: none;')
            p="encryptd and unlocked"
