.loading
    img.loadingSpinner(src='./images/whiteLoader.svg')
.inside(style='display: none;')
    table.table
        thead
            tr
                th Username
                th Drafts
                th Scheduled
                th.encryptdStatus.encryptdNot.encryptdUnlocked(style='display: none;') Actions
        tbody#accountsListTbody

    .encryptdStatus.encryptdNot.encryptdUnlocked
        .btn-group.btn-group-justified(role='group')
            .btn-group(role='group')
                button.btn.btn-success(type='button', onclick='ui.manageAccounts.add()')
                    span.glyphicon.glyphicon-plus-sign
                    =' '
                    |Add Account

    .masterPassphraseInfo
        .encryptdStatus.encryptdNot(style='display: none;')
            b='Account Credentials are not currently encrypted.'
            .btn-group.btn-group-justified(role='group')
                .btn-group(role='group')
                    button.btn.btn-success(type='button', onclick='ui.accounts.encryptCredentials()')='Encrypt Credentials'
        .encryptdStatus.encryptdLocked(style='display: none;')
            .btn-group.btn-group-justified(role='group')
                .btn-group(role='group')
                    button.btn.btn-danger(type='button', onclick='ui.accounts.reset()')='Reset Passphrase'
                .btn-group(role='group')
                    button.btn.btn-success(type='button', onclick='unlock()')='Unlock'
        .encryptdStatus.encryptdUnlocked(style='display: none;')
            .btn-group.btn-group-justified(role='group')
                .btn-group(role='group')
                    button.btn.btn-danger(type='button', onclick='ui.accounts.remove()')='Remove Passphrase'
                .btn-group(role='group')
                    button.btn.btn-info(type='button', onclick='ui.accounts.change()')='Change Passphrase'
