if (postStatus == 'published')
    |Published
else if (postStatus == 'scheduled')
    |Scheduled
else if (postStatus == 'drafts')
    |Drafts
else if (postStatus == 'trash')
    |Trash


.row
    .col-md-6 .col-md-6
        |Save BTN
    .col-md-6
        button.btn.btn-primary(style=(bodyLen) ? '' : 'display: none;',class='previewPostBtn', type='button', onclick!='editorView.switchMode(\'preview\');') Preview
