form.form-horizontal(onsubmit='return ui.manageAccountsHelpers.addAccountContinueBTN();')
    .form-group
        label.col-sm-3.control-label(for='addAccountUsername') Username
        .col-sm-9
            input#addAccountUsername.form-control(type='text', placeholder='Username')
    .form-group
        label.col-sm-3.control-label(for='addAccountPassword') Password
        .col-sm-9
            input#addAccountPassword.form-control(type='password', placeholder='Password')

    input(type='submit', style='position: absolute; height: 0px; width: 0px; border: none; padding: 0px;', hidefocus='true', tabindex='-1')

p
    | Note: This will also import your existing posts. The more posts you have, the longer this will take. It shouldn't take longer than a few minutes depending on your computer and internet speed.
p
    | Future posts made outside of SteemWrite will be imported in the background and available when you refresh a post listings tab.
