ul.nav.nav-tabs
    li(role='presentation').general
        a(onclick='ui.settingTab.general()') General
    li(role='presentation').accounts
        a(onclick='ui.settingTab.accounts()') Accounts

#settingsContent
    .tabView.general(style='display: none;')
    .tabView.accounts(style='display: none;')
