h1
    | #{global.lang.licenseView.title}
.licenseText
h3
    | #{global.lang.licenseView.how}
.licenseButtons
    .btn-group.btn-group-justified(role='group', aria-label='...')
        .btn-group(role='group')
            button.btn.btn-danger(type='button', onclick='ui.licenseDisagree()') #{global.lang.licenseView.disagreeBTN}
        .btn-group(role='group')
            button.btn.btn-success(type='button', onclick='ui.licenseAgree()') #{global.lang.licenseView.agreeBTN}
