h1
    | To continue using this application, you must agree to the terms of the software license agreement
.licenseText
h3
    | Click Agree to continue or Disagree to close this application
.licenseButtons
    .btn-group.btn-group-justified(role='group', aria-label='...')
        .btn-group(role='group')
            button.btn.btn-danger(type='button') Disagree
        .btn-group(role='group')
            button.btn.btn-success(type='button') Agree
