nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    #navMiddleButtons.navbar-center
    ul.nav.navbar-nav.navbar-left
        li
            div(id="bcStatus", class="led led-yellow", data-toggle='tooltip', data-placement='right', title='Connecting...', onclick='ui.restartIcon()')
                #bcRestartIcon(style='display: none;')
                    span.glyphicon.glyphicon-repeat(aria-hidden='true')
        li#accountsLocked(style='display: none;', onclick='ui.unlockIcon()')
            span.glyphicon.glyphicon-lock(aria-hidden='true')
        li
            a(onclick="ui.homeBtn()")
                b(style='font-size: 17px;') SteemWrite

    ul.nav.navbar-nav.navbar-right
        li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                span#menuDropdownName
                | &nbsp;
                span.caret
            ul.dropdown-menu#menuDropdownItems

.container.container-noPadding
    #mainContentHolder
