if hasAccs
    each val in accountsList
        li
            a(onclick='ui.switchAccount(this)')=val

    li.divider(role='separator')
    li
        a(onclick='ui.openSettings("accounts");')='Manage Accounts'
else
    li
        a(onclick='ui.openSettings("accounts");')='Add Accounts'
