li
  a(href='#') Action
li
  a(href='#') Another action
li
  a(href='#') Something else here
li.divider(role='separator')
li.dropdown-header Nav header
li
  a(href='#') Separated link
li
  a(href='#') One more separated link
