.basicLoaderScreen
    .imgHolder
        img(src='./images/whiteLoader.svg')
    h1='Loading Editor'

#editorHolder(style="display: none;")
    .editorHolderTabs.editorTab
        .editorLeft
            .form-group
                input(type='text', class='form-control', name='postTitle')
            .editorHolder
        .editorRight
            input(type='hidden', name='_autosaveHash', value='')
            input(type='hidden', name='_isNew', value='')
            input(type='hidden', name='_postStatus', value='')
            input(type='hidden', name='_author', value='')
            input(type='hidden', name='_permalink', value='')
            input(type='hidden', name='postTags', value='')
            input(type='hidden', name='_publishActionsMetadata', value='')
            .panel.panel-primary
                .panel-heading
                    h3.panel-title Publish
                .panel-body
                    .publishActions(style='margin-bottom: 20px;')
                    .fieldErrors
                        .titleError
                        .bodyError
                        .tagError
                        .jsonError

            .panel.panel-primary
                .panel-heading
                    h3.panel-title Tags
                .panel-body.tagsUIArea
                    p.tagsList

                    form(style='display: inline;', onsubmit='return tagEditor.addTagForm(this);')
                        p
                            input(type='hidden', name='_tagViewID', value=viewID)
                            input.form-control(type='text', name='_tagName', class='tagsAutoCompleteBox')

                            =' '
                            button.btn.btn-default(type='submit') Add
                        p
                            | Tag (up to 5 tags), the first tag is your main category and cannot be changed after publishing

            .panel.panel-primary.additionalJsonData(style=(global.showJSONMetadataEditor) ? '' : 'display: none;')
                .panel-heading
                    h3.panel-title Additional JSON Metadata
                .panel-body
                    .alert.alert-warning.alert-dismissible.fade.in(role='alert')
                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                            span(aria-hidden='true') ×
                        strong Warning!
                        |  This feature is intended for developers.

                    textarea(name='postJSONTextarea')
    .editorHolderTabs.previewTab(style="display: none;")
    .editorHolderTabs.revisionsTab(style="display: none;")
        img(src='./images/construction.svg')
        p
            |The interface for revisions is currently under construction and is not available in this release. Revisions are however being stored under the hood at this point.
