each tag in tags
    span.label.label-primary.lb-md
        span.allow-copy= tag + ' '
        button.btn.btn-danger(type='button', class='btn-xs', data-viewID=viewID, data-tag=tag, onclick='tagEditor.removeTagBtn(this);') X
