.container
    .basicLoaderScreen
        .imgHolder
            img(src='./images/whiteLoader.svg')
        h1='Loading ' + username + ' posts'

    #postsList(style="display: none;")
        .paginationInfo
        .postListCards
        .paginationHolder
