ul.navbar-nav(style='float: none;display: inline-block;list-style-type: none;')
    li(class=(current == 'all') ? 'alltab active' : 'alltab')
        a(style='text-decoration: none;', onclick='postsView.loadPosts("all")') All
    li(class=(current == 'published') ? 'publishedtab active' : 'publishedtab')
        a(style='text-decoration: none;', onclick='postsView.loadPosts("published")') Published
    li(class=(current == 'scheduled') ? 'scheduledtab active' : 'scheduledtab', onclick='postsView.loadPosts("scheduled")')
        a(style='text-decoration: none;', href='#') Scheduled
    li(class=(current == 'drafts') ? 'draftstab active' : 'draftstab', onclick='postsView.loadPosts("drafts")')
        a(style='text-decoration: none;', href='#') Drafts
    li(class=(current == 'trash') ? 'trashtab active' : 'trashtab', onclick='postsView.loadPosts("trash")')
        a(style='text-decoration: none;', href='#') Trash
