ul.navbar-nav(style='float: none;display: inline-block;list-style-type: none;')
    li
        a(style='text-decoration: none;', href='#') All
    li
        a(style='text-decoration: none;', href='#') Published
    li
        a(style='text-decoration: none;', href='#') Scheduled
    li
        a(style='text-decoration: none;', href='#') Drafts
